# 1 задание

In [3]:
import random

In [115]:
def create_word():
    word = ''
    dir_chr = {i : chr(i) for i in range(97,123)}
    
    for i in range(random.randint(0, 10)):
        word += dir_chr[random.randint(97,122)]
    return word

In [29]:
def create_text(lenght_text):
    result_text = ''
    
    for _ in range(lenght_text):
        result_text += create_word() + ' '
    
    return result_text

In [120]:
text = create_text(100)
text

'chjfthf pgh gjogmwivzf nisechbr cubsiqvv lvvoxlb duosmq fzgerno  e guixnehwkg cbbb yruhkg csensj pvflv jdvgd rfj wgrsgmaj a cjygo  e geihjcobq     ihjp d z vpdjgl thkhvrzmg iaen  cqsqs u iucgn irmyoj wlk yttx  qxmlovkg zeqcof ncifed fijril qf tbhsgabsbd lbb u x obal  aelbtzfv  xkb  uwt  aafy z kyewtvlxd fjtrdtvcs fxvwivsqrx wnc fhnpzjx lpuxps  cdvpjkypcw nryjikfm yxoxwktesr f rcuaz nxayz zsvrfoxva smwr qurf q lk s y vy sqkutpr  dkjejg qkewjbcv qrjnzggp spmc yr gs ovfmxpip lhncrj nigffcoeza g vvwddofg oj  rztmcqtbfc uxebkod v rw '

## Второй вариант создания текста

In [27]:
def create_random_text(n):
    '''Создает рандомный текст'''
    dir_chr = {i : chr(i) for i in range(97,123)}
    dir_chr[123] = ' ' 
    
    result_text = ''
    for i in range(n):
        result_text += dir_chr[random.randint(97,123)]
    return result_text

text = create_random_text(1000)
print(text)

 vbehawzphwgabdnnygbnlcnoyjtutcjsvppchorzykwcgifsqucdtbfhhwyxznflaxtattadppwmannfhmunjzphdlhdbuhxxyydpgrulmwanghnmwbyhnioziiehqukkauvblpykqqxkyovfqsrqapxdsvjxymuvlysvmfyukqd kdymugkzrlatkzhbqlhpufg ao semqaqhdruegtqtbnqnghmoejccsfivzoasxwdjvyfsdm aktgnvtxvolubfhlmjezdo sarm jypfhmp bcnbxuus gnhcgzsqevsnbpmetvxt anwuepwwa ozdvntmsek bcsgwldgvvpviuseczdoxiqwnexbsh msvgikismhg dsdsdhhyqfybfkvjh zsyfslzhrfyxdxcxytfhsqiaqdnjiqvdvbgbddtkwu vmikdj  k ybwzwdvzmkqtvytzgqjdgjlrxnkiwrujrhegqs lfowkjzqawafayyocbbwtzsnzptburjj pbimfzfcmexwaaxxxukchnxwbnnogooostueuoqkurjmjnuhaggybnbgldxtg hvnxvolftzxvfgmca cbqwfhvnidrzmwkjhyxhuktlwb nodnu fqcp gccjtohuztyidxcguxvkr wddlyycjvlkdhn psmkoyrrxrmm ii ixjc tiwmxbfnqkautyiqtywnmafsogeucifxgkknfytmpfksftbksaxshpmaikuxslxdgscbspkc ialdqyelriwzdpmxbgxqaxsbzhuvgghhcwxhocg eskmthwsvnxdxcu fhfsty cwdwcghnw xfbux juwqzitglelerfvpmcghptqmqdtjtl nuuykjeohqefzfmdzyg zkbaqiivpbhfbsevpcqwrt nqziarmeonacaynizzxdsnxaaoofstrgvaczzqdxsdykhprwrjsopaukivlfrxnwvfzavjoa qhf n

In [17]:
text_eng = 'Avatar is a 2009 American epic science fiction film written and directed by James Cameron, and starring Sam Worthington, Zoe Saldana, Stephen Lang, Michelle Rodriguez, Joel David Moore, Giovanni Ribisi and Sigourney Weaver. The film is set in the mid-22nd century, when humans are mining a precious mineral called unobtanium on Pandora, a lush moon of a gas giant in the Alpha Centauri star system. The expansion of the mining colony threatens the continued existence of a local tribe of Navi—a humanoid species indigenous to Pandora. The films title refers to the genetically engineered Na\'vi-human hybrid bodies used by a team of researchers to interact with the natives of Pandora.'

In [121]:
def bubbleSort(array):
    for i in range(len(array)):
        swapped = False
        for j in range(0, len(array) - i - 1):
            if array[j] > array[j + 1]:
                temp = array[j]
                array[j] = array[j+1]
                array[j+1] = temp
                
                swapped = True

        if not swapped:
            break
    return array

sorted_text = bubbleSort(text.split())
print(sorted_text)

['a', 'aafy', 'aelbtzfv', 'cbbb', 'cdvpjkypcw', 'chjfthf', 'cjygo', 'cqsqs', 'csensj', 'cubsiqvv', 'd', 'dkjejg', 'duosmq', 'e', 'e', 'f', 'fhnpzjx', 'fijril', 'fjtrdtvcs', 'fxvwivsqrx', 'fzgerno', 'g', 'geihjcobq', 'gjogmwivzf', 'gs', 'guixnehwkg', 'iaen', 'ihjp', 'irmyoj', 'iucgn', 'jdvgd', 'kyewtvlxd', 'lbb', 'lhncrj', 'lk', 'lpuxps', 'lvvoxlb', 'ncifed', 'nigffcoeza', 'nisechbr', 'nryjikfm', 'nxayz', 'obal', 'oj', 'ovfmxpip', 'pgh', 'pvflv', 'q', 'qf', 'qkewjbcv', 'qrjnzggp', 'qurf', 'qxmlovkg', 'rcuaz', 'rfj', 'rw', 'rztmcqtbfc', 's', 'smwr', 'spmc', 'sqkutpr', 'tbhsgabsbd', 'thkhvrzmg', 'u', 'u', 'uwt', 'uxebkod', 'v', 'vpdjgl', 'vvwddofg', 'vy', 'wgrsgmaj', 'wlk', 'wnc', 'x', 'xkb', 'y', 'yr', 'yruhkg', 'yttx', 'yxoxwktesr', 'z', 'z', 'zeqcof', 'zsvrfoxva']

In [122]:
def quick_sort(mass):
    if len(mass)<=1:
        return mass
    
    elem = mass[0]
    left = list(filter(lambda x: x < elem, mass))
    center = list(filter(lambda x: x == elem, mass))
    right = list(filter(lambda x: x > elem, mass))
    
    return quick_sort(left) + center + quick_sort(right)

sorted_text = quick_sort(text.split())
print(sorted_text)

['a', 'aafy', 'aelbtzfv', 'cbbb', 'cdvpjkypcw', 'chjfthf', 'cjygo', 'cqsqs', 'csensj', 'cubsiqvv', 'd', 'dkjejg', 'duosmq', 'e', 'e', 'f', 'fhnpzjx', 'fijril', 'fjtrdtvcs', 'fxvwivsqrx', 'fzgerno', 'g', 'geihjcobq', 'gjogmwivzf', 'gs', 'guixnehwkg', 'iaen', 'ihjp', 'irmyoj', 'iucgn', 'jdvgd', 'kyewtvlxd', 'lbb', 'lhncrj', 'lk', 'lpuxps', 'lvvoxlb', 'ncifed', 'nigffcoeza', 'nisechbr', 'nryjikfm', 'nxayz', 'obal', 'oj', 'ovfmxpip', 'pgh', 'pvflv', 'q', 'qf', 'qkewjbcv', 'qrjnzggp', 'qurf', 'qxmlovkg', 'rcuaz', 'rfj', 'rw', 'rztmcqtbfc', 's', 'smwr', 'spmc', 'sqkutpr', 'tbhsgabsbd', 'thkhvrzmg', 'u', 'u', 'uwt', 'uxebkod', 'v', 'vpdjgl', 'vvwddofg', 'vy', 'wgrsgmaj', 'wlk', 'wnc', 'x', 'xkb', 'y', 'yr', 'yruhkg', 'yttx', 'yxoxwktesr', 'z', 'z', 'zeqcof', 'zsvrfoxva']

# 2 задание

In [45]:
def count_words(mass):
    dir_words = {}
    
    for word in mass:
        if word in dir_words:
            dir_words[word] +=1
        else:
            dir_words[word] = 1
    return dir_words

In [46]:
dir_words = count_words(text_eng)
print(dir_words)

{'2009': 1, 'Alpha': 1, 'American': 1, 'Avatar': 1, 'Cameron,': 1, 'Centauri': 1, 'David': 1, 'Giovanni': 1, 'James': 1, 'Joel': 1, 'Lang,': 1, 'Michelle': 1, 'Moore,': 1, "Na'vi-human": 1, 'Navi—a': 1, 'Pandora,': 1, 'Pandora.': 2, 'Ribisi': 1, 'Rodriguez,': 1, 'Saldana,': 1, 'Sam': 1, 'Sigourney': 1, 'Stephen': 1, 'The': 3, 'Weaver.': 1, 'Worthington,': 1, 'Zoe': 1, 'a': 6, 'and': 3, 'are': 1, 'bodies': 1, 'by': 2, 'called': 1, 'century,': 1, 'colony': 1, 'continued': 1, 'directed': 1, 'engineered': 1, 'epic': 1, 'existence': 1, 'expansion': 1, 'fiction': 1, 'film': 2, 'films': 1, 'gas': 1, 'genetically': 1, 'giant': 1, 'humanoid': 1, 'humans': 1, 'hybrid': 1, 'in': 2, 'indigenous': 1, 'interact': 1, 'is': 2, 'local': 1, 'lush': 1, 'mid-22nd': 1, 'mineral': 1, 'mining': 2, 'moon': 1, 'natives': 1, 'of': 6, 'on': 1, 'precious': 1, 'refers': 1, 'researchers': 1, 'science': 1, 'set': 1, 'species': 1, 'star': 1, 'starring': 1, 'system.': 1, 'team': 1, 'the': 6, 'threatens': 1, 'title': 1, 'to': 3, 'tribe': 1, 'unobtanium': 1, 'used': 1, 'when': 1, 'with': 1, 'written': 1}

# 3 задание

In [2]:
def bubbleSort(array):
    for i in range(len(array)):
        swapped = False
        for j in range(0, len(array) - i - 1):
            if array[j] > array[j + 1]:
                temp = array[j]
                array[j] = array[j+1]
                array[j+1] = temp
                
                swapped = True

        if not swapped:
            break

In [1]:
def quick_sort(mass):
    if len(mass)<=1:
        return mass
    
    elem = mass[0]
    left = list(filter(lambda x: x < elem, mass))
    center = list(filter(lambda x: x == elem, mass))
    right = list(filter(lambda x: x > elem, mass))
    
    return quick_sort(left) + center + quick_sort(right)

# 4 задание

In [124]:
import pandas as pd

In [137]:
df = pd.DataFrame(columns=["Количесво слов",
                           "Время работы bubbleSort",
                           "Время работы quick_sort"])

df

Empty DataFrame
Columns: [Количесво слов, Время работы bubbleSort, Время работы quick_sort]
Index: []

In [135]:
counts_words = [100, 500, 1000, 2000, 2500]

In [144]:
i = 0
for count in counts_words:
    result_time = %timeit -o bubbleSort(create_text(count).split())
    df.loc[i,'Количесво слов'] = count
    df.loc[i,'Время работы bubbleSort'] = round(result_time.average, 3)
    i += 1
df

2.67 ms ± 353 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
34.4 ms ± 712 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)
130 ms ± 2.38 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)
511 ms ± 14.2 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
801 ms ± 27 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

  Количесво слов Время работы bubbleSort Время работы quick_sort
0            100                   0.003                0.001761
1            500                   0.034                0.009638
2           1000                    0.13                 0.01922
3           2000                   0.511                0.039048
4           2500                   0.801                0.049542

In [145]:
i = 0
for count in counts_words:
    result_time = %timeit -o quick_sort(create_text(count).split())
    df.loc[i,'Количесво слов'] = count
    df.loc[i,'Время работы quick_sort'] = round(result_time.average, 3)
    i += 1
df

1.72 ms ± 13.2 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
9.6 ms ± 612 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
19.1 ms ± 311 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
38.4 ms ± 335 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)
48.7 ms ± 906 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

  Количесво слов Время работы bubbleSort Время работы quick_sort
0            100                   0.003                   0.002
1            500                   0.034                    0.01
2           1000                    0.13                   0.019
3           2000                   0.511                   0.038
4           2500                   0.801                   0.049